.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-check-input-success:checked {
  background-color: green !important;
  border-color: green !important;
}

.form-check-input-danger:checked {
  background-color: #DD4F45 !important;
  border-color: #DD4F45 !important;
}

.form-check-input-secondary:checked {
  background-color: #6C746A !important;
  border-color: #6C746A !important;
}

.task-drag{
  cursor: move !important;
}
